QWidget {
    color: #fff;
    background: rgb(49, 49, 49);
    /* border: 1px solid cyan; */
}

QSizeGrip {
    background: rgba(0, 0, 0, 0);
}

QPushButton {
    color: #FFF;
    border: 1px solid transparent;
    font-size: 30px;
    font: bold;
}

QPushButton:hover {
    color: #fff;
    background: rgb(124, 124, 124);
    border: 1px solid  rgb(124, 124, 124);
}

QPushButton#closeButton:hover {
    background: #9149f5;
    border: 1px solid #9149f5;
}

QMenuBar {
    font-size: 20px;
}

QMenuBar::item:selected {
    color: #fff;
    background:  rgb(124, 124, 124);
}

QLabel {
    font-size: 15px;
}

QTextEdit {
    margin: 0%;
    padding: 0%;
    border: transparent;
    font-size: 25px;
    background-color: rgb(80, 80, 80);
}