QWidget {
    color: #f8f8f2;
    background: #282a36;
    /* border: 1px solid cyan; */
}

QSizeGrip {
    background: rgba(0, 0, 0, 0);
}

QPushButton {
    color: #f8f8f2;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 30px;
    font: bold;
}

QPushButton:hover {
    color: #f8f8f2;
    background: #8be9fd;
    border: 1px solid  #8be9fd;
}

QPushButton#closeButton:hover {
    background: #bd93f9;
    border: 1px solid #bd93f9;
}

QMenuBar {
    font-size: 20px;
}

QMenuBar::item:selected {
    color: #f8f8f2;
    background:  #282a36;
}

QLabel {
    font-size: 15px;
    background-color: #6272a4;
}

QTextEdit {
    color: #f8f8f2;
    margin: 0%;
    padding: 0%;
    border: transparent;
    border-radius: 10px;
    font-size: 25px;
    background-color: #343644;
}

QScrollBar:vertical {
    width: 10px;
    margin: 4px 0 4px 0;
}